<p id="notice"><%= notice %></p>

<h1>Eventos</h1>

<table>
  <thead>
    <tr>
      <th>Nome do Evento</th>
      <th>Data do Evento</th>
      <th>Local do Evento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.event_name %></td>
        <td><%= event.event_date %></td>
        <td><%= event.event_place %></td>
        <td><%= link_to 'Ver', event %></td>
        <td><%= link_to 'Editar', edit_event_path(event) %></td>
        <td><%= link_to 'Excluir', event, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Criar novo Evento', new_event_path %>
<%= link_to 'Home', home_index_path %>