<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Event place:</strong>
  <%= @event.event_place %>
</p>

<%= link_to 'Editar', edit_event_path(@event) %> |
<%= link_to 'Voltar', events_path %>
