<p id="notice"><%= notice %></p>

<h1>Events Participations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Was present</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events_participations.each do |events_participation| %>
      <tr>
        <td><%= events_participation.user_id %></td>
        <td><%= events_participation.event_id %></td>
        <td><%= events_participation.was_present %></td>
        <td><%= link_to 'Show', events_participation %></td>
        <td><%= link_to 'Edit', edit_events_participation_path(events_participation) %></td>
        <td><%= link_to 'Destroy', events_participation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Events Participation', new_events_participation_path %>
